.toast-container {
    /* width: 300px; */
    position: fixed;
    z-index: 1;
    inset-block-start: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding-top: 10px;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #0c0c0c;
    /* border: solid 1px; */
    padding: 10px 10px;
    border-radius: 7px;
    width: 350px;
    min-height: 40px;
    margin-right: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toast-success {
    background-color: #eeffee;
    border-color: #01c101;
    color:#01c101;
}

.toast button {
    color: inherit;
}

.toast-error {
    background-color: #fbe2e2;
    border-color: #c10101;
    color: #c10101;
}

.toast-message {
    margin: 0;
    padding: 0;
}

.toast-cancel-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-in {
    animation: slideInRight 0.3s ease-out forwards;
}
